@{
    ViewData["Title"] = "Hoş Geldiniz!";
}

<div class="p-5 mb-4 bg-light rounded-3 shadow-sm">
    <div class="container py-5">
        <h1 class="display-5 fw-bold">DersKayıt Platformuna Hoş Geldiniz</h1>
        <p class="col-md-8 fs-4">Kendinizi geliştirmek için kaliteli ve güncel kurslara hemen göz atın.</p>
        <a href="/Course/List" class="btn btn-primary btn-lg">Kurslara Göz At</a>
    </div>
</div>
